
<h1> <%= @task.title %></h1>

<h2><%= @task.details %></h2>

<p><%= @task.completed %></p>

<p><%= link_to "back to index", tasks_path %></p>

<p><%= link_to "edit", edit_path %></p>

<%= link_to "Delete this task", task_path(@task),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
